lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results


# Logs
*.log
npm-debug.log*
yarn-error.log

# Dependencies
node_modules/

# Coverage
coverage/

# Transpiled files
dist/

# VS Code
.vscode
jsconfig.json

# Misc
.DS_Store
tmp/

flow-typed/npm
